# base fastsam
matplotlib==3.9.4
opencv-python==4.11.0.86
pillow==11.1.0
PyYAML==6.0.2
requests==2.32.3
scipy==1.13.1
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
pandas==2.2.3
seaborn==0.13.2
gradio==3.35.2
psutil==6.1.1
git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1

# api
fastapi==0.115.6
uvicorn==0.34.0
boto3==1.36.2
